<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>NP Teleterapi - Kullanıcılar</h1>
  {{#users}}
    <div>{{id}} - {{first_name}} {{last_name}}</div>
  {{/users}}

  <hr/>

  {{#meetings}}
    <div>
      {{host_id}} {{topic}}
    </div>
  {{/meetings}}


  <form action="/meetings" method="post">
    <button type="submit">Yeni Meeting</button>
  </form>
</body>
</html>